@font-face{
    font-family:'open-sans-r';
    src:url('../fonts/OpenSans-Regular.ttf');
}

@font-face{
    font-family:'open-sans-l';
    src:url('../fonts/OpenSans-Light.ttf');
}

@font-face{
    font-family:'open-sans-b';
    src:url('../fonts/OpenSans-Bold.ttf');
}

@font-face{
    font-family:'open-sans-sb';
    src:url('../fonts/OpenSans-Semibold.ttf');
}

@font-face{
    font-family:'forte';
    src:url('../fonts/FORTE.TTF');
}

@font-face{
    font-family:'DroidKufi-b';
    src:url('../fonts/DroidKufi-Bold.ttf');
}

@font-face{
    font-family:'DroidKufi-r';
    src:url('../fonts/DroidKufi-Regular.ttf');
}

@font-face{
    font-family:'Roboto-b';
    src:url('../fonts/Roboto-Bold.ttf');
}
@font-face{
    font-family:'Roboto-l';
    src:url('../fonts/Roboto-Light.ttf');
}
@font-face{
    font-family:'Roboto-m';
    src:url('../fonts/Roboto-Medium.ttf');
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: local('Raleway Heavy'), local('Raleway-Heavy'), url(http://fonts.gstatic.com/s/raleway/v9/PKCRbVvRfd5n7BTjtGiFZPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}