<!DOCTYPE html>
<html lang="en">
    <title>Social Media Website</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../statics/bootstrap.min.css">
    <link rel="stylesheet" href="../statics/w3.css">
    <link rel="stylesheet" href="../statics/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='../statics/style.css'>
    <link rel="stylesheet" href="../statics/font-awesome.min.css">
    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
        input{
            margin: 5px 0 10px;
        }
        input[type="radio"]{
            text-align: left;
            display: inline-block;
            width: initial;
        }
        label{
            display: block;
        }
        .form-check-input{
            margin-left: 0;
            margin-top: 7px;
        }
        form{
            padding: 10px 20px 20px 20px;
        }
        a{
            text-decoration: none;
        }
        a:hover{
            text-decoration: none;
        }
        .image_view{
            text-align: center;
            padding: 10px;
            margin: 10px;
        }
    </style>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
     <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
          <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
          <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Social Media</a>
          <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
          <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
            <img src="../img/avatar2.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
          </a>
     </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">Ebrahiem Gamal</h4>
         <p class="w3-center"><img src="../img/avatar3.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
        </div>
      </div>
      <br>

    <!-- End Left Column -->
    </div>

    <!-- Middle Column -->
    <div class="w3-col m7">

      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
            <form action="updateUser.php" method="get" enctype="multipart/form-data">
               <label >First Name : </label>
                <input class="form-control" type="text" name="fname" value="{{fname}}" >
               {%if fname%}
               <div style="color:red"{{fname}}></div>
               {%endif%}
                <label >Last Name : </label>
                <input class="form-control" type="text" name="lname" value={{lname}} >
                {%if lname%}
                <div style="color:red"{{lname}}></div>
                {%endif%}
                <label >UserName : </label>
                <input class="form-control" type="text" name="uname" value={{username}} >
                {%if username%}
                <div style="color:red"{{username}}></div>
                {%endif%}
                <label >Email : </label>
                <input class="form-control" type="email" name="email" value={{email}} >
                {%if email%}
                <div style="color:red"{{email}}></div>
                {%endif%}
                <label >password : </label>
                <input class="form-control" type="password" name="pass" value={{password}}  >
                {%if password%}
                <div style="color:red"{{password}}></div>
                {%endif%}
                <label >gender : </label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gender" id="exampleRadios1" value="option1" {% if gender==0 %} checked {% endif %}>
                  <label class="form-check-label" for="gender">Male</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gender" id="exampleRadios1" value="option1" {% if gender %} checked {% endif %} >
                  <label class="form-check-label" for="gender">Female</label>
                </div>
                {%if gander%}
                <div style="color:red"{{gander}}></div>
                {%endif%}
                <label>Birth Date : </label>
                <input class="form-control" type="text" name="bdate" value={{birthdate}} >
                {%if bdate%}
                <div style="color:red"{{bdate}}></div>
                {%endif%}
                <label >country : </label>
                <input class="form-control" type="text" name="country" value={{country}} >
                {%if country%}
                <div style="color:red"{{country}}></div>
                {%endif%}

                <div class="image_view">
                   <img src="" alt="user image" >
                </div>
                   <div class="form-group">
                    <label for="exampleInputFile">Upload your photo : </label>
                    <input type="file" id="exampleInputFile" name="uimage">
                </div>

                <input style="cursor: pointer;" type="submit" class="btn btn-primary btn-lg btn-block" name="update" value="save changes">
            </form>
      </div>

    <!-- End Middle Column -->
    </div>
    </div>

  <!-- End Grid -->
  </div>

<!-- End Page Container -->
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-padding-16">
  <p style="text-align: center;">
      CopyRights &copy; Reserved 2018
  </p>
</footer>

<script type="text/javascript" src="jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="bootstrap.min.js"></script>
<script>
// Accordion
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
    } else {
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
