<html lang="en">
<head>

    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../statics/w3.css">
    <link rel="stylesheet" href="../statics/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='../statics/style.css'>
    <link rel="stylesheet" href="../statics/font-awesome.min.css">
    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
    </style>

</head>
<body class="w3-theme-l5">
<div class="w3-top">
     <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
          <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
          <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Social Media</a>
          <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
          <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
            <img src="../img/avatar2.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
          </a>
     </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">Ebrahiem Gamal</h4>
         <p class="w3-center"><img src="../img/avatar3.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
        </div>
      </div>
      <br>

    <!-- End Left Column -->
    </div>

    <!-- Middle Column -->
    <div class="w3-col m7">

      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              <h6 class="w3-opacity">Write your post in our Media ..</h6>
              <p contenteditable="true" class="w3-border w3-padding"></p>
              <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button>
              <button type="button" class="w3-button w3-theme"><i class="fa fa-camera"></i>  photo</button>
            </div>
          </div>
        </div>
      </div>


      {% for post in posts %}
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <img src="../img/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">{{ post.published_date.format('Y-m-d')}} </span>
        <h4> {{users[loop.index -1].username}} </h4><br>
        <hr class="w3-clear">
        <p> {{post.pcontent}} </p>
          <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-half">
              <img src="../img/lights.jpg" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
            </div>
            <div class="w3-half">
              <img src="../img/nature.jpg" style="width:100%" alt="Nature" class="w3-margin-bottom">
            </div>
        </div>

        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-info-circle"></i>  More Info</button>
        <!--
        <button onclick="myFunction('Demo5')"  type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comments</button>

        <div class="post-comment w3-hide w3-container" id="Demo5">
            <img src="w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right profile-photo-sm" style="width:60px">
            <input style="width: 85%; margin-top: 10px;margin-bottom: 30px;" contenteditable="true" class="w3-border w3-padding" placeholder="Post a comment" type="text">
        </div>
           -->
      </div>
      {% endfor %}


    <!-- End Middle Column -->
    </div>
    </div>

  <!-- End Grid -->
  </div>

<!-- End Page Container -->
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-padding-16">
  <p style="text-align: center;">
      CopyRights &copy; Reserved 2018
  </p>
</footer>
<!--
<footer class="w3-container w3-theme-d5">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>-->

<script>
// Accordion
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
    } else {
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
