<!DOCTYPE html>
<html lang="en">
    <title>Social Media Website Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../statics/bootstrap.min.css" />
    <link rel="stylesheet" href="../statics/font-awesome.min.css">
    <link rel="stylesheet" href="../statics/w3.css">
    <link rel="stylesheet" href="../statics/w3-theme-blue-grey.css">
    <link rel='stylesheet' href="../statics/style.css">
    <link rel="stylesheet" href="../statics/font-awesome.min.css"/>
    <link rel="stylesheet" href="../statics/login.css"/>
<body>
    <!-- Navbar -->
    <div class="w3-top">
         <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
              <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
              <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Social Media</a>
         </div>
    </div>
    <!-- Main Form -->
    <div class="back">
        <div class="login-contain">
            <h2>Login</h2>
            <div class="login-form-1">
                <form id="login-form" action="../php/login.php" method="post" class="text-left">
                    <div class="login-form-main-message"></div>
                    <div class="main-login-form">
                        <div class="login-group">
                            <div class="form-group">
                                <label for="lg_username" class="sr-only">Username/Email</label>
                                <input type="text" required class="form-control" id="lg_username" name="username" placeholder="Username/Email">
                            </div>
                            <div class="form-group">
                                <label for="lg_password" class="sr-only">Password</label>
                                <input type="password" required class="form-control" id="lg_password" name="password" placeholder="password">
                            </div>
                            <div class="form-group login-group-checkbox">
                                <input type="checkbox" id="lg_remember" name="rememberme">
                                <label for="lg_remember">remember me</label>
                            </div>

                        </div>
                        <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
                    </div>
                </form>
            </div>
            <div class="signup">
                  {%if error%}
                  <p style="color:red">{{error}}</p>
                  {%endif%}
                <p>or Create new Account </p>
                <a href="register.html" class="btn btn-block btn-large btn-primary">Sign Up</a>
            </div>
        </div>
    </div>
</body>
</html>
