html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
.back{
    background-image: url(w3images/logback.jpg);
    background-size: cover;
    width: 100%;
    height: 680px;
    padding: 150px 0;
}
.login-contain{
    max-width: 500px;
    border-radius: 5px;
    margin: 0px auto;
    padding: 20px 0 40px;
    background: white;
    text-align: center;
}
/*=== 4. Main Form ===*/
.login-form-1 {
  max-width: 450px;
  border-radius: 5px;
  margin: 0px auto;
    padding: 20px;

}
.main-login-form {
  position: relative;
}
h2{
    color: #4e636f;
    margin: 10px 0 0;
}
.login-form-1 .form-control {
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: transparent;
  color: #555555;
  padding: 15px 0;
  font-weight: bold;
  height:auto;
}
.login-form-1 .form-control::-webkit-input-placeholder {
  color: #999999;
}
.login-form-1 .form-control:-moz-placeholder,
.login-form-1 .form-control::-moz-placeholder,
.login-form-1 .form-control:-ms-input-placeholder {
  color: #999999;
}
.login-form-1 .form-group {
  margin-bottom: 0;
  border-bottom: 2px solid #efefef;
  padding-right: 20px;
  position: relative;
}
.login-form-1 .form-group:last-child {
  border-bottom: 0;
}
input[type=checkbox], input[type=radio]{
    margin: 20px 0;
}
.login-group {
  background: #ffffff;
  color: #999999;
  border-radius: 8px;
  padding: 10px 20px;
}
.login-group-checkbox {
  padding: 5px 0;
}
/*=== 5. Login Button ===*/
.login-form-1 .login-button {
  position: absolute;
  right: -25px;
  top: 100%;
  background: #ffffff;
  color: #999999;
  padding: 11px 0;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border: 5px solid #efefef;
  border-radius: 50%;
  transition: all ease-in-out 500ms;
    cursor: pointer;
}
.login-form-1 .login-button:hover {
    background: #3384ff;
    color: white;
    transform: rotate(360deg);
    border-color: black;
}
.login-form-1 .login-button.clicked {
  color: #555555;
}
.login-form-1 .login-button.clicked:hover {
  transform: none;
}
.login-form-1 .login-button.clicked.success {
  color: #2ecc71;
}

        .login-form-1 .login-button.clicked.error {
  color: #e74c3c;
}
.btn-block{
    width: 80%;
    display: inline-block;
}
/*=== 2. Anchor Link ===*/
a {
  color: #aaaaaa;
  transition: all ease-in-out 200ms;
}
a:hover {
  color: #333333;
  text-decoration: none;
}
        /*=== 3. Text Outside the Box ===*/
.etc-login-form {
  color: #919191;
  padding: 10px 20px;
}
.etc-login-form p {
  margin-bottom: 5px;
}
