<!DOCTYPE html>
<html lang="en">
    <title>Social Media Website Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../statics/bootstrap.min.css" />
    <link rel="stylesheet" href="../statics/font-awesome.min.css">
    <link rel="stylesheet" href="../statics/w3.css">
    <link rel="stylesheet" href="../statics/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='../statics/style.css'>
    <link rel="stylesheet" href="../statics/font-awesome.min.css"/>
    <link rel="stylesheet" href="../statics/register.css"/>

<body>
    <!-- Navbar -->
    <div class="w3-top">
         <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
              <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
              <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Social Media</a>
         </div>
    </div>
    <!-- Main Form -->
    <div class="back">
        <div class="login-contain">
            <h2>Sign Up</h2>
            <div class="login-form-1">
                <form id="login-form" method="get" action="" class="text-left">
                    <div class="login-form-main-message"></div>
                    <div class="main-login-form">
                        <div class="login-group">
                            <div class="form-group">
                                <label for="lg_username" class="sr-only">First Name</label>
                                <input type="text" class="form-control" required id="lg_username" name="fname" placeholder="First Name">
                                {%if fname %}
                                <div style="color:red">{{fname}}</div>
                                {%endif%}
                            </div>
                            <div class="form-group">
                                <label for="lg_username" class="sr-only">Last Name</label>
                                <input type="text" required class="form-control" id="lg_username" name="lname" placeholder="Last Name">
                                {%if lname %}
                                <div style="color:red">{{lname}}</div>
                                {%endif%}
                            </div>
                            <div class="form-group">
                                <label for="lg_username" class="sr-only">Username</label>
                                <input type="text" required class="form-control" id="lg_username" name="username" placeholder="username">
                                {%if username %}
                                <div style="color:red">{{username}}</div>
                                {%endif%}
                            </div>
                            <div class="form-group">
                                <label for="lg_username" class="sr-only">Email</label>
                                <input type="email" required class="form-control" id="lg_username" name="email" placeholder="Email">
                                {%if email %}
                                <div style="color:red">{{email}}</div>
                                {%endif%}
                            </div>
                            <div class="form-group">
                                <label for="lg_password" class="sr-only">Password</label>
                                <input type="password"  required class="form-control" id="lg_password" name="password" placeholder="password">
                            </div>
                            <div class="form-group">
                                <label for="lg_password" class="sr-only">Password again</label>
                                <input type="password" required class="form-control" id="lg_password" name="repeat_pass" placeholder="Password Again">
                                {%if password %}
                                <div style="color:red">{{password}}</div>
                                {%endif%}
                            </div>

                            <div class="form-group">
                                <label for="lg_username" class="sr-only">Country</label>
                                <input type="text" class="form-control" id="lg_username" name="country" placeholder="Country">
                                {%if country %}
                                <div style="color:red">{{country}}</div>
                                {%endif%}
                            </div>
                            <label >Date Of Birth : </label>
                            <div class="form-group date_edit">
                                <label for="lg_username" class="sr-only">Date OF Birth</label>
                                <input type="date" class="form-control" id="lg_username" name="birth" placeholder="Date of birth">
                            </div>
                            <label >gender : </label>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="gender" id="exampleRadios1" value="option1" checked>
                              <label class="form-check-label" value = "1" for="gender">Male</label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="gender" id="exampleRadios1" value="option1">
                              <label class="form-check-label" value = "0" for="gender">Female</label>
                            </div>

                        </div>
                        <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
                    </div>
                </form>
            </div>
            <div class="signup">
                <p>If You have an account ....</p>
                <a href="login.html" class="btn btn-block btn-large btn-primary">Login</a>
            </div>
        </div>
    </div>
</body>
</html>
